body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(223, 223, 223);
}
h3 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.intro {
  text-align: left;
  padding: 30px;
  font-weight: bold;
  font-size: 16px;
}
.form-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 200px;
  height: 8px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.login-link {
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  color: #000000;
}

button {
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 30px;
  padding: 8px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
