body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e7e7e7;
  align-items: center;
}
h3 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.intro {
  text-align: left;
  padding: 30px;
  font-weight: bold;
  font-size: 16px;
}
.form-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 25px;
  width: 100%;
}
.form-container form .user-info {
  display: flex;
  flex-wrap: wrap;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 200px;
  height: 8px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}
input[type="text"]:user-invalid,
input[type="password"]:user-invalid,
input[type="email"]:user-invalid {
  border: 1px solid #d60c0c;
}
.login-link {
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  color: #000000;
}

button {
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 30px;
  padding: 8px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
